
.container_admin{
    width:100%;
}
 .wrapper{
    padding:10%;
    width:80%;
    margin: 0 auto;
    text-align: center;
    font-size:16px;
    background-color:#662d91;
    color:white;
        
}

#filed_photos_product{
    margin: 1% auto;
    width: 50%;
}
.container_admin_page{
     display:flex;
    justify-content:space-between;
    width:100%;
    box-sizing:border-box;
}
.list_operations_admin{
    width:20%;
}
.list_operations_admin ul {
     list-style: none;
     font-size:20px;
     color:white;

}
.list_operations_admin ul a{
    text-decoration:none;
     list-style: none;
     background-color:#662d91;
     color:white;
}
.list_operations_admin ul li {
     padding:10px 5px;
     border: 1px solid #662D91;
     background-color: #662d91 ; /*#D9E2E1; #F4DEEB*/
     border-radius:10px;
     margin-bottom:5px;
 
}

.affichage_operations_admin{
    width:80%;
    padding:1%;
   
}
.affichage_operations_admin form{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.container_photo_product form{
     width:100%;
    display: flex;
    flex-direction:column;
    padding:20px;
   
}
.container_photo_product form select,label{
    padding:10px;
    width:50%;
     margin:0 auto;
}
.container_photo_product form input{
    border:none;
    margin:20px;
}
.affichage_operations_admin form fieldset{
    display: flex;
    flex-direction:column;
    margin:1%;
    width:44%;
    background-color:#F4DEEB;
    color:#662D91;
}
.affichage_operations_admin form input{
    width:90%;
    padding:2% ;
    margin:1%;
    border:1px solid #662d91 ;
    width:90%;
}
.affichage_operations_admin form label{
    padding:0 2%;
    margin-top:1%;
    
}
.btn_ajoute {
    width: 50% !important;; 
    margin: 1% auto !important;
    color: white;
    background-color: #662D91;
    font-size:16px;
    
}
.normal_btn{
    padding: 10px;
    margin: 10px auto;
    background-color: #662d91;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
@media(max-width:480px){
    .wrapper{
        width:100%;
        background-color:red;
    }
    
    
    
}
