@font-face {
    font-family: "Viga-Regular";    
    src: url("../fonts/Viga-Regular.ttf");
    src: url("../fonts/RedHatText-VariableFont_wght.ttf");
    
}

body{
font-family: 'Red Hat Text', sans-serif;
 box-sizing:border-box;
 margin:0;
padding:0;
}
h1{
    font-family: "Viga-Regular", sans-serif;
}
h2{
    font-family: 'Red Hat Text', sans-serif;
}
p{
    font-family: 'Jua', sans-serif;
}
h3{
    font-family: 'Krub', sans-serif;
}
.black { color:#000 !important; }


/*CSS pour Header*/
/*CSS pour le top bar*/
.top_bar{
    width:100%;
    background-color:#E70A8D;
    display:flex;
    justify-content: space-between;
 
    color:white;
}
.top_bar i{
    padding:1%;
    color:white;
}
.social_media {
    width: 20%;
    text-align: right;
    padding: 1%;
    margin:  0 1%;
     
   
}
.telephone{
    width: 50%;
    text-align: left;
    padding: 1% 0;
}
.langues{
    width:30%;
   text-align: right;
   margin:auto;
}
form select{
     border: none;
	background-color:#E70A8D;
     color:white;
          
}

/*CSS pour Header*/
/*CSS pour le middle bar*/
.middle_bar{
    width:100%;
    background-color:#f4deeb;
    display:flex;
    justify-content: space-between;
  
  
}
.middle_bar i {
    
    color:#662d91;
}
.logo{
    width:30%;
}
.logo img{
    width:70%;
    display:flex;
    justify-content: space-between;
    padding:1%;
}
.filed_search{
    width:50%;
    margin:auto;
}
.search_wrapper{
    display:flex;
    flex-direction:column;
    gap:.25rem;
}
.search_wrapper input{
    font-size:1rem;
    
}
.user_cards{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    
}
#bar_recherch{
    width:80%;
    padding:2%;
    border-radius:10px  ;
    border:1px solid #662d91;
}
.box_search{
    width: 50%;
    position: absolute;
    z-index: 10;
    background-color: #F4DEEB;
    left: 20%;
   

}
.produit_de_result_de_cherche{
    display:flex;
   
    width:100%;
    height:100px;
    text-overflow: clip;
    border-bottom:1px solid #662d91;
    
}
.product_photo_cherche{
    width:20%;
    height:100px;
   
}
.product_photo_cherche img{
    width:100%;
    object-fit: cover;
     box-sizing:border-box;
      height:100%;
}
.info_result_cherche{
    width:70%;
    text-overflow: clip;
    
}

.info_result_cherche p{
  
      white-space: nowrap;
  overflow: hidden;
}

.wishlist,.shopping_basket{
    width:5%;
    margin:auto;
    position:relative;
}
.sign_in{
    text-align:center;
    width:15%;
     margin:auto;
    position:relative;
}

/*CSS pour Header*/
/*CSS pour le nav*/

nav{
    display:flex;
    justify-content:left;
    background-color:#662d91;/*#BBEE22*/
    width:100%;
    vertical-align: middle;
    margin:0;
}
nav a {
    font-size:20px;
   
    text-decoration:none;
    color:white;
     margin-left:3%;
     padding:15px;
}
.menu_nav {
    display:flex;
    justify-content:left;
    background-color:#662d91;/*#BBEE22*/
    width:100%;
    vertical-align: middle;
    margin:0;
}
.menu_nav a{
     font-size:20px;
   
    text-decoration:none;
    color:white;
     margin-left:3%;
     padding:15px;
}
.menu_nav a:hover{
    background-color:#E70A8D;
    color:#f4deeb;
    transform: scale(1.1,1.1);
    color:white;
    padding:15px;
    box-shadow:10px;
}


/*CSS de la page rayons*/
.container_rayons,.container_category{
    width:80%;
    margin:1% auto;
    display:flex;
    flex-wrap:wrap;
    
}
.rayon,.category{
    width:30%;
    margin:1%;

}

.photo_rayon,.photo_category{
    width:100%;
    
    position:relative;
}

.photo_rayon a img{
       width:100%;
     object-fit: cover;
     height:250px;
      border:4px solid #662D91;
      border-radius:10px;
}
.photo_category a img{
       width:100%;
     object-fit: cover;
     height:250px;
      border:4px solid #662D91;
         border-radius:10px;
}
.layer_on_photo{
    position:absolute;
    width:100%;
    background-color:rgba(244, 222, 235, 0.3);
    text-align:center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:5;
  
}
.layer_on_photo h3{
   
   color:white;
   font-size:20px;
   padding:3% 0 ;
   margin:10px;
   background-color:rgba(231, 10, 141,0.5);
}

/*treter sub menu de rayons*/
.liste_rayon {
    display:flex;
    flex-direction:column;
    position: fixed;
    left: -500px;
    top:185px;
    transition: all 1s;
    background-color:#662d91;
    color:white;
    font-size:20px;
    padding:1%;
    z-index:20;
    width:300px;
}
#btnClose1{
    padding-left: 90%;
}
.liste_rayon a {
    font-size:20px;
   
    text-decoration:none;
    color:white;
     margin-left:3%;
     padding:15px;
}

.is_active {
    left:0;
}
.sub_menu{
   list-style: none;
   padding:0;
}
.diaporama{
   
   width:100%;
   height:400px;

}

.item{
    width:100%;
    height:400px;
    position: relative;
}

.item .item_text {
    position: absolute;
    left: 25%;
    top: 100px;
    font-size: 40px;
    color:#fff;
    font-weight:700;
    text-transform: uppercase;
    color:#662D91;
}
.item img{
    width:100%;
    height:400px;
    object-fit:fill;
}

/*CSS pour user_popup*/
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:5;
    text-align:center;
   
}
.user_popup{
    position:relative;
    margin:10% auto;
    width:40%;
    background-color:white;
    box-shadow:15px 20px 0 rgba(0,0,0,0.5);
   
}
.btnClose{
    float:right;
    padding:0.5%;
    font-size:20px;
}
.form_inscription{
    padding-left:1%;
   text-align:left;
}
.form_inscription input{
    width:90%;
    padding:2% 0;
    margin:1%;
    border:1px solid #662d91 ;
}
.form_inscription label{
padding-left:2%;
    
}

.scroller {
   height: 500px;
   overflow-y: scroll;
   scrollbar-color: rebeccapurple green;
   scrollbar-width: auto;
}
.hidden{
    display:none;
}
input:required {
  border: 1px dashed red;
}

/*CSS pour My account */

/*setting de CSS de products de un category*/

.container_products{
    width:100%;
    margin:1% auto;
    display:flex;
    flex-wrap:wrap;
}
.products_de_un_category{
     width:20%;
     margin:2%;
     border:3px solid #662D91;
     border-radius:10px;
     text-align:center;
    box-shadow: inset 5em 1em 5em 1em #f4deeb;
}
.products_photo_promotion{
    position:relative;
    
}
.products_photo a img{

     width:100%;
     padding:0;
     
}

.products_promotion{
    position: absolute;
    z-index: 3;
    top: 12px;
    left: -1px;
    box-sizing: border-box;
    width:50px;
    height:100px;
    border-radius:10px;
   
}
.products_promotion p{
    background-color: #E70A8D;
    transform: rotate(321deg);
    color:white;
     width:100px;
    height:28px;
    border-radius:10px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}
.name_wishlist_produit{
    position:relative;
}
.products_wishlist{
    position: absolute;
    top: 10px;
    right: 10%;
    color:#aaa;
}
.active {
    color:#E70A8D;
}

.price_products_dans_un_category{

    width: 100%;
    text-align: center;
 
}
.price_products_dans_un_category p{

    font-size:25px;
  
}
.price_promotion{
   border:1px solid #E70A8D; 
    margin:0 10px;
}
.btn_add_produit{
    border:none;
    padding:10px;
    margin:0 auto;
    background-color:#662d91;
    color:white;
    font-size:16px;
    padding:10px;
    margin:10px;
    border-radius:10px;
    
}

   
    

/*setting css pour footer*/
footer{
    display:flex;
    justify-content:space-between;
    background-color:#F4DEEB;
    color:#662d91 ;
    width:100%;
    padding: 10px 0;
}
.livraison,.liens_utiles,.aplli,.social_payment_method{
    width:25%;
    text-align:center;
}
.liens_utiles ul li,a{
    text-decoration:none;
    list-style:none;
}

/*CSS list_panier */
.list_panier{
    position:fixed;
    top:20;
    right:0px;
    height:300px;
    width: 40%;
    overflow-y: scroll;
    transition: all 1s;
    background-color:#F4DEEB;
    color:#662d91;
    font-size:20px;
    padding:1%;
    z-index:10;
}
.cart_item{
    width:100%;
}
.items_info{
    width:100%;
    display:flex;
    justify-content:space-between;
    background-color:white;
    border-radius:20px;
    margin:10px;
   
}
.image_panier{
    width:30%;
}
.image_panier img{
    width:100%;
}

.info_panier{
    padding-top:20px;
    width:70%;
}

.number_articles_in_basket{
    width:20px;
    height:20px;
    background-color:#E70A8D;
    position:absolute;
    right:30px;
    top:-10px;
    border-radius:10px;
    color:white;
    text-align:center;
}


#shopping-cart {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	text-align:center;
		background-color: #FFFFFF;
		padding:5% 0;
}
#shopping-cart table tbody td{
  
}
#shopping-cart table thead th {
    background-color: #F0F0F0;

}
.tot_price_table_panier{
    
}

.txt_heading {
	color: #662D91;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
	font-size: 24px;
    text-align: center;
    font-weight:bold;
}

#btnEmpty {
	background-color: #662D91;
	padding:10px;
	color: white;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}
.div_btn_panier{
    width:100%;
    
}
.div_total_price_panier{
    width:100%;
    display:flex;
    justify-content:flex-end;
    gap:20px
}
.div_total_price_panier p{
    padding:10px;
    background-color:#F4DEEB;
    text-align:right;
    padding-right:3%;
}
.btn_payer{
    border:none;
    padding:10px;
    display:block;
    margin:0 auto;
    background-color:#662d91;
    color:white;
    font-size:20px;
    padding:10px;
    border-radius:10px;
    text-align:center;
    width:50%;

}
.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.normal_btn{
    padding: 10px;
    margin: 10px auto;
    background-color: #662d91;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper{
    color:white;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    box-shadow: inset 5em 1em 5em 1em #f4deeb;
    border:3px solid #662d91;
    border-radius:20px;
    color:#662d91;
}
.wrapper form input{
    width: 50%;
    padding: 15px;
    border-radius: 5px
}

/* page d'un product*/
.container_product{
        width: 100%;
    display: flex;
    justify-content: space-around;
}
.photos_product{
    width:40%;

}
.infos_product{
     width:60%;
     padding:20px;
     color:#662D91;
     
}

.options_btn_add_produit{
    margin: 87px 0;
    display: inline-block;
}


.diaporama_product{
    width:100%;
    
}
.diapo_principal_product_item {
     width:100%;
     height:320px;
}


.diaporama_product_item {
     width: 100%;
     height: 100px;
}

.diaporama_product_item img {
     width: 100%;
     height: 100%;
     object-fit: contain;
}


.zoom_image_product {
    position:absolute;
    border:1px solid red;
    width: 320px;
    height: 320px;
    overflow: hidden;
    z-index:2;
    background-color: #fff;
}

.image_for_zoom {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container_general_info{
    width:90%;
    margin:20px auto;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    padding:30px;
    background-color:#fff2f9;
    border-radius:10px;
    
}
.general_info1{
    width:30%; 
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
    border:1px solid black;
    padding:10px;
}
.icon_general_info1{
    width:30%;
    border:1px solid black;
    text-align:center;
    padding-top:20px;
    color:#E70A8D;
}
.icon_general_info1 i {
    background-color:#662D91;
    padding:10px;
    border-radius:50%;
}


.title_text_general_info1{
    width:60%;
   
}

/**********************setting page checkout****************/
.container_checkout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing:border-box;
}
.infos_personnelles_checkout{
    width:70%;
     box-sizing:border-box;
}
.infos_personnelles_checkout form{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.infos_personnelles_checkout form fieldset{
        display: flex;
        flex-direction:column;
        margin:1%;
        width:43%;
         background-color:#F4DEEB;
        color:#662D91;
}
.btn_modifier {
    width: 50% !important;; 
    margin: 1% auto !important;
    color: white;
    background-color: #662D91;
    
}
.infos_personnelles_checkout form input{ 
    width:90%;
    padding:2% ;
    margin:1%;
    border:1px solid #662d91 ;
    width:90%;
}
.infos_personnelles_checkout form label{
    padding:0 2%;
    margin-top:1%;
    
}

.final_panier_pour_payment{
    padding:10px 5%;
    width:30%;
}
.un_produit_final_panier{
    width:100%;
    display: flex;
    justify-content: space-between;
    box-sizing:border-box;
}
.total_prix_fp{
    display: flex;
    justify-content: space-between;
    box-sizing:border-box;
}
.infos_personnelles_checkout form{
   
}
.logos_slideshow {
    width:100%;
    margin:1% 0;

}
.item_logos {

   width:20%;
    align-items:center;

}
.item_logos img {
  width:234px;
   margin:0 auto;
    object-fit: cover;
}
.footer_copyright{
    background-color:#E70A8D;
    color:white;
    text-align:center;
    padding:10px;
}
.container_about_page{
    width: 100%;
}
.container_about_page img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.map_google_box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.text_map{
    width:48%;
    color:#662D91;
    font-size:20px;
    
}
.google_map{
    width:48%;
}

.container_wishlist{
    height:100px;
    width:100%;
    background-color:red;
    position:relative;
}

/******************************************setting de telephone*/


@media(max-width:980px){
    
.map_google_box{
    flex-direction:column;
    
}

.text_map{
    width:100%;
        
}
.google_map{
    width:100%;

    
}    
.top_bar{
    justify-content:center;
}

.telephone{
    width:40%;
    text-align:right;
}
.langues{
    width:20%;
    text-align:center;
}

.social_media{
    width:40%;
    text-align:left;
}
.middle_bar{
    padding:10px 0;
}
.number_articles_in_basket{
    right:auto;
}
.menu_nav{
    flex-wrap:wrap;
}

.diaporama{
     height:300px;
}

.item{
    height:300px;
}

.item .item_text {
    left: 25%;
    top: 100px;
    font-size:20px;

}
.item img{
    width:100%;
    height:300px;
    object-fit:fill;
}

.general_info1{
     width:100%;
}

.liste_rayon {
     top:0px;
}

.container_general_info{
     flex-direction: column;
}

footer{
     flex-direction: column;
     align-items: center;
}
.livraison,.liens_utiles,.aplli,.social_payment_method{
     width:90%;
     border-bottom:1px solid #662D91 ;
}

.diaporama{
     height:200px;
}

.item{
     height:200px;
}

.item img{
     height:200px;
}

.container_general_info{
     background-color:#fff2f9;
}

.general_info1{
     margin-bottom:2%;
     border:none;
     background-color:#f8f8f8;
     border-radius:10px;
}

.icon_general_info1{
     border:none;
}

.logos_slideshow {
     width:100%;
     margin:1% ;
}

.item_logos {

     width:20%;
     align-items:center;
}

.item_logos img {
     width:70px;
     margin:0 auto;
     object-fit: cover;
}

.rayon{
     width:100%;
}

.category{
     width:100%;
}

.products_de_un_category{
    width:44%;
    
}

.list_panier{
    width:70%;
    top:0;
}

.cart_item{
    width:80%;
}

.box_search {
    width:80%;
    left:10%;
}
.container_product{
    flex-wrap:wrap;
}

.photos_product{
    width:100%;
}

.infos_product{
     width:100%;
}



.diapo_principal_photo_product {
   height:320px;
}

.diaporama_product{
    width:100%;
}

.diaporama_product_item{
    width:50%;
   
    box-sizing:border-box;
}

.diaporama_product_item img{
    width:50%;
    object-fit:cover;
    box-sizing:border-box;
}

.text_description_product{
    background-color:red;
}

.wrapper{
    width: 80%;
}
.wrapper form input{
    width: 80%;
    padding: 15px;
    border-radius: 5px
}

.container_checkout{
       
}
.infos_personnelles_checkout{
        width:40%;
}
.infos_personnelles_checkout form{
        width:100%;
}
.infos_personnelles_checkout form fieldset{
        width:100%;
        margin:0 auto;
}
.final_panier_pour_payment{
        width:60%;
        margin:0 auto;
}

#shopping-cart	table, thead, tbody, th, td, tr { 
	display: block; 
}
	
	/* Hide table headers (but not display: none;, for accessibility) */
#shopping-cart	thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}
	
#shopping-cart	tr { border: 1px solid #ccc; }
	
#shopping-cart	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
#shopping-cart	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
#shopping-cart .tbl_cart{
        margin: 15% 0;
        
}

#shopping-cart .tbl_cart tr{
        margin-bottom:3%;
}
#shopping-cart.tbl_cart tr td{
        text-align:center;
        
}

.container_checkout{
        flex-direction: column;
}
.infos_personnelles_checkout{
        width:100%;
}
.infos_personnelles_checkout form{
        width:100%;
}
.infos_personnelles_checkout form fieldset{
        width:80%;
        margin:0 auto;
}
.final_panier_pour_payment{
        width:80%;
        margin:0 auto;
}
	/*
	Label the data
	*/
#shopping-cart td:nth-of-type(1):before { content: "Nom de prduit"; }
#shopping-cart td:nth-of-type(2):before { content: "Promotion"; }
#shopping-cart td:nth-of-type(3):before { content: "Quantité"; }
#shopping-cart td:nth-of-type(4):before { content: "Prix unitaire"; }
#shopping-cart td:nth-of-type(5):before { content: "Prix"; }
#shopping-cart td:nth-of-type(6):before { content: "Supprimer"; }

.container_about_page img{
    height: 300px;
}

}




@media(max-width:520px){
    

.social_media {
      display:none;
}

.telephone{
      width:50%;
      padding-top:25px;
      height:50px
}

.langues{
      width:50%;
      height:30px
}

.middle_bar{
      width:100%;
      background-color:#f4deeb;
      display:flex;
      justify-content: space-between;
}

.middle_bar{
      display: flex;
      flex-wrap: wrap;
}

.logo{
      width:100%;
      padding:3%;
}

.logo img{
      width: 80%;
      margin: 0 auto;
}

.filed_search{
      argin-top: 0;
      padding-top: 0;
      width:100%;
      margin-bottom: 5%;
}

.filed_search input{
      margin: 0 auto;
      display: block;
}

#moteur_recherch{
      display:none;
}

.wishlist{
     text-align:right;
}

.wishlist,.shopping_basket{
     width:30%; 
     margin-bottom:25px;
}

.sign_in{
     width:40%;
     margin-bottom:25px;
}

.number_articles_in_basket{
     right:auto;
}

nav{
     flex-direction: column;
     text-align:left;
}

nav a {
     padding: 26px;
}

.menu_nav{
     display:none;
}

.general_info1{
     width:100%;
}

.liste_rayon {
     top:0px;
}

.container_general_info{
     flex-direction: column;
}

footer{
     flex-direction: column;
     align-items: center;
}
.livraison,.liens_utiles,.aplli,.social_payment_method{
     width:90%;
     border-bottom:1px solid #662D91 ;
}

.diaporama{
     height:200px;
}

.item{
     height:200px;
}

.item img{
     height:200px;
}

.container_general_info{
     background-color:#fff2f9;
}

.general_info1{
     margin-bottom:2%;
     border:none;
     background-color:#f8f8f8;
     border-radius:10px;
}

.icon_general_info1{
     border:none;
}

.logos_slideshow {
     width:100%;
     margin:1% ;
}

.item_logos {

     width:20%;
     align-items:center;
}

.item_logos img {
     width:70px;
     margin:0 auto;
     object-fit: cover;
}

.rayon{
     width:100%;
}

.category{
     width:100%;
}

.products_de_un_category{
    width:80%;
    margin:5% auto;
}

.list_panier{
    width:70%;
    top:0;
}

.cart_item{
    width:80%;
}

.box_search {
    width:80%;
    left:10%;
}
.container_product{
    flex-wrap:wrap;
}

.photos_product{
    width:100%;
}

.infos_product{
     width:100%;
}


.products_wishlist{
    top: 45px;
}
.diaporama_product{
    width:100%;
}

.diaporama_product_item{
    width:50%;
  
    box-sizing:border-box;
}

.diaporama_product_item img{
    width:50%;
    object-fit:cover;
    box-sizing:border-box;
}

.text_description_product{
    background-color:red;
}

.wrapper{
    width: 80%;
}
.wrapper form input{
    width: 80%;
    padding: 15px;
    border-radius: 5px
}

.container_about_page img{
    height: 200px;
}



}
